In [20]:
import csv_updater

In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from datetime import date

In [22]:
df = pd.read_csv("johnhopkins-3March.csv")

In [23]:
df = df.T

In [24]:
cols_drop = []
for i in range(114):
    if i != 0 and i != 5:
        cols_drop.append(i)
df.drop(df.columns[cols_drop], axis = 1, inplace = True)

In [25]:
df

                         0                       5
Province/States  Confirmed                  Deaths
Country/Region    Globally          Mainland China
WHO region             NaN  Western Pacific Region
1/21/2020              282                     NaN
1/22/2020              314                     NaN
1/23/2020              581                     NaN
1/24/2020              846                     NaN
1/25/2020             1320                     NaN
1/26/2020             2014                     NaN
1/27/2020             2798                      80
1/28/2020             4593                     106
1/29/2020             6065                     132
1/30/2020             7818                     170
1/31/2020             9826                     213
2/1/2020             11953                     259
2/2/2020             14557                     304
2/3/2020             17391                     361
2/4/2020             20630                     425
2/5/2020             24554                     491
2/6/2020             28276                     564
2/7/2020             31481                     637
2/8/2020             34886                     723
2/9/2020             37558                     812
2/10/2020            40554                     909
2/11/2020            43103                    1017
2/12/2020            45171                    1114
2/13/2020            46997                    1260
2/14/2020            49053                    1381
2/15/2020            50580                    1524
2/16/2020            51857                    1666
2/17/2020            71429                    1772
2/18/2020            73332                    1870
2/19/2020            75204                    2006
2/20/2020            75748                    2121
2/21/2020            76769                    2239
2/22/2020            77794                    2348
2/23/2020            78811                    2445
2/24/2020            79331                    2595
2/25/2020            80239                    2666
2/26/2020            81109                    2718
2/27/2020            82294                    2747
2/28/2020            83652                    2791
2/29/2020            85403                    2838
3/1/2020             87137                    2873
3/2/2020             88948                    2915
3/3/2020             90870                    2946

In [26]:
df.drop(['Country/Region', 'WHO region', 'Province/States'], inplace = True)

In [27]:
df.head()

              0    5
1/21/2020   282  NaN
1/22/2020   314  NaN
1/23/2020   581  NaN
1/24/2020   846  NaN
1/25/2020  1320  NaN

In [28]:
df.shape

(43, 2)

In [35]:
df.rename(columns = {0:'Infected', 5:'Deaths'}, inplace = True)

In [36]:
df.head()

          Infected Deaths
1/21/2020      282    NaN
1/22/2020      314    NaN
1/23/2020      581    NaN
1/24/2020      846    NaN
1/25/2020     1320    NaN

In [39]:
df.shape

(43, 2)

In [68]:
dates_unix = []
start = 1579478400
for i in range(43):
    start += 86400
    dates_unix.append(start)

print(dates_unix)

[1579564800, 1579651200, 1579737600, 1579824000, 1579910400, 1579996800, 1580083200, 1580169600, 1580256000, 1580342400, 1580428800, 1580515200, 1580601600, 1580688000, 1580774400, 1580860800, 1580947200, 1581033600, 1581120000, 1581206400, 1581292800, 1581379200, 1581465600, 1581552000, 1581638400, 1581724800, 1581811200, 1581897600, 1581984000, 1582070400, 1582156800, 1582243200, 1582329600, 1582416000, 1582502400, 1582588800, 1582675200, 1582761600, 1582848000, 1582934400, 1583020800, 1583107200, 1583193600]

In [69]:
df['Date'] = dates_unix

In [70]:
df.head()

          Infected Deaths        Date
1/21/2020      282    NaN  1579564800
1/22/2020      314    NaN  1579651200
1/23/2020      581    NaN  1579737600
1/24/2020      846    NaN  1579824000
1/25/2020     1320    NaN  1579910400

In [71]:
df['Date'] = pd.to_datetime(df['Date'], unit='s')

In [72]:
df.head()

          Infected Deaths       Date
1/21/2020      282    NaN 2020-01-21
1/22/2020      314    NaN 2020-01-22
1/23/2020      581    NaN 2020-01-23
1/24/2020      846    NaN 2020-01-24
1/25/2020     1320    NaN 2020-01-25

In [73]:
df.set_index = df['Date']

In [74]:
df

          Infected Deaths       Date
1/21/2020      282    NaN 2020-01-21
1/22/2020      314    NaN 2020-01-22
1/23/2020      581    NaN 2020-01-23
1/24/2020      846    NaN 2020-01-24
1/25/2020     1320    NaN 2020-01-25
1/26/2020     2014    NaN 2020-01-26
1/27/2020     2798     80 2020-01-27
1/28/2020     4593    106 2020-01-28
1/29/2020     6065    132 2020-01-29
1/30/2020     7818    170 2020-01-30
1/31/2020     9826    213 2020-01-31
2/1/2020     11953    259 2020-02-01
2/2/2020     14557    304 2020-02-02
2/3/2020     17391    361 2020-02-03
2/4/2020     20630    425 2020-02-04
2/5/2020     24554    491 2020-02-05
2/6/2020     28276    564 2020-02-06
2/7/2020     31481    637 2020-02-07
2/8/2020     34886    723 2020-02-08
2/9/2020     37558    812 2020-02-09
2/10/2020    40554    909 2020-02-10
2/11/2020    43103   1017 2020-02-11
2/12/2020    45171   1114 2020-02-12
2/13/2020    46997   1260 2020-02-13
2/14/2020    49053   1381 2020-02-14
2/15/2020    50580   1524 2020-02-15
2/16/2020    51857   1666 2020-02-16
2/17/2020    71429   1772 2020-02-17
2/18/2020    73332   1870 2020-02-18
2/19/2020    75204   2006 2020-02-19
2/20/2020    75748   2121 2020-02-20
2/21/2020    76769   2239 2020-02-21
2/22/2020    77794   2348 2020-02-22
2/23/2020    78811   2445 2020-02-23
2/24/2020    79331   2595 2020-02-24
2/25/2020    80239   2666 2020-02-25
2/26/2020    81109   2718 2020-02-26
2/27/2020    82294   2747 2020-02-27
2/28/2020    83652   2791 2020-02-28
2/29/2020    85403   2838 2020-02-29
3/1/2020     87137   2873 2020-03-01
3/2/2020     88948   2915 2020-03-02
3/3/2020     90870   2946 2020-03-03

In [75]:
start

1583193600

In [76]:
date.today()

datetime.date(2020, 3, 6)